<!DOCTYPE html>
<html>
<head>
    <title>My Form</title>
    <link rel="stylesheet" href="/static/index.css" />
</head>
<body>
    <div class="content">
        <div class="title">
            <h4> Soon Team iGrey </h4>
            <h1> Business Analyzer </h1>
        </div>
        <div class="form">
            <form method="POST">
                <label for="sentiment">Business name</label>
                <input type="text" name="sentiment" id="sentiment" required>
                <label for="trend">Domeniu de activitate</label>
                <input type="text" name="trend" id="trend" required>
                <label for="controversy">CEO username</label>
                <input type="text" name="controversy" id="controversy" required>
                <label for="volatility">Stock Name</label>
                <input type="text" name="volatility" id="volatility" required>



                <input class=submit-button type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>
