<!DOCTYPE html>
<html>
<head>
    <title>My Form</title>
    <style>
        /* Add some basic styling to the form */
        label, input, textarea {
            display: block;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>Business analyzer</h1>
    <form method="POST">
        <label for="sentiment">Business name</label>
        <input type="text" name="sentiment" id="sentiment" required>
        <label for="trend">Domeniu de activitate</label>
        <input type="text" name="trend" id="trend" required>
        <label for="controversy">CEO username</label>
        <input type="text" name="controversy" id="controversy" required>
        <label for="volatility">Stock Name</label>
        <input type="text" name="volatility" id="volatility">



        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
